$game-board-color: #000;
$red: #f00;
$green: #008000;
$white: #fff;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.game-board {
  clear: both;

  :nth-child(3n+1) {
    border-left: 0;
    margin-left: 30%;
  }

  :nth-child(3n+3) {
    border-right: 0;
    margin-right: auto;
  }

  :nth-child(-n+3) {
    border-top: 0;
    margin-top: 5%;
  }

  :nth-child(n+7) {
    border-bottom: 0;
    margin-bottom: auto;
  }

  div {
    border: 1px solid $game-board-color;
    float: left;
    font-size: 180px;
    height: 200px;
    line-height: 100%;
    text-align: center;
    width: 200px;
  }
}

.beg-row {
  clear: both;
}

.win-banner {
  background-color: $green;
  color: $white;
  float: left;
  font-size: 200px;
  height: 620px;
  left: 30%;
  line-height: 100%;
  position: absolute;
  text-align: center;
  top: 17%;
  width: 600px;
}

.x-box {
  clear: both;
  float: left;
  position: absolute;
  top: 20%;
}

.o-box {
  float: right;
  position: absolute;
  right: 100px;
  top: 20%;
}

.owins {
  font-size: 100px;
}

.xwins {
  font-size: 100px;
}

form {
  float: left;
}

button,
.form-button-html {
  margin: 0 5px 0 0;
}

.error {
  color: $red;
  display: inline;
  position: relative;
  top: 40px;
}
